* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25272E;
}

header {
    background: whitesmoke; 
    padding: 20px;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: sans-serif;
}

.score-board {
    border: 3px solid  white;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.choice > img {
    padding: 15px;
    width: 100px;
    height: 100px;
}

.choices  {
    margin-top: 30px 0;
    text-align: center;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: rgb(7, 8, 9);

}

#action-message {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}